extends ../shared/layout
block main-content

    .container
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-default
                    .panel-heading.text-center Update your profile
                    .panel-body
                        form.form-default(method="post" action="/users/update-profile")
                            .form-group
                                label.control-label(for="first-name") First Name
                                input.form-control(type="text" name="firstName" id="first-name" value=user.firstName)
                            .form-group
                                label.control-label(for="last-name") Last Name
                                input.form-control(type="text" name="lastName" id="last-name" value=user.lastName)
                            .form-group
                                label.control-label(for="password") Password
                                input.form-control(type="password" name="password" id="password")
                            .form-group
                                label.control-label(for="confirm-password") Confirm Password
                                input.form-control(type="password" name="confirmPassword" id="confirm-password")
                            .form-group
                                button.btn.btn-primary.btn-login.col-md-12(type="submit") Update