extends ../shared/layout
block main-content
    h1 Hello Admin. You can delete some users now.
    a.btn.btn-primary.btn-lg.active(href='/admin/admin-delete-user', role='button') Delete user
    |  
    a.btn.btn-default.btn-lg.active(href='/admin/admin-delete-trip', role='button') Delete trip
    |  
    a.btn.btn-default.btn-lg.active(href='/admin/admin-add-user', role='button') Add user
    |  
    a.btn.btn-default.btn-lg.active(href='/admin/admin-add-news', role='button') Add news
    |  
    a.btn.btn-default.btn-lg.active(href='/admin/admin-delete-news', role='button') Delete news

