if (errorMessage.length > 0)
    .row
        .col-md-12
            .alert.alert-danger
                p=errorMessage
if(successMessage.length > 0)
    .row
        .col-md-12
            .alert.alert-success
                p=successMessage
