if (error_message.length > 0)
    .row
        .col-md-12
            .alert.alert-danger
                p=error_message
if(info_message.length > 0)
    .row
        .col-md-12
            .alert.alert-success
                p=info_message
