doctype
html
    head
        title Travel Share
        link(href="/css/bootstrap.css" rel="stylesheet")
        link(href="/css/site.css" rel="stylesheet")
    body
    include _nav.pug
    .container

        include _messages.pug

            if (globalError)
                h3= globalError

            block main-content

            block footer-js
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.js")