extends ../shared/layout
block main-content
  h1 List all trips
  h2 Add a new trip
   if(currentUser)
    form(method="post" action="/trips/create")
        label(for="username") Username
        br
        input(type="text" name="username" id="username" value=username)
        br
        label(for="from") From
        br
        input(type="text" name="from" id="from")
        br
        label(for="To") To
        br
        input(type="text" name="to" id="to")
        br
        labbel(for="Date") Date
        br
        input(type="date" name="date" id="date")
        br
        input(type="submit" value="Create")